body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 16px/1.625 "Lato","Arial","Helvetica Neue","Helvetica",sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #fff;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  z-index: 1;
  height: 80px;
}

.cart-button {
  float: right;
  position: relative;
  top: 20%;
  right: 10%;
  border-radius: 2px;
  padding: 15px;
  background-color: #ff4949;
  border: 1px solid #ff4949;
  color: white;
  font-weight: bold;
}

.menu-items {
  float: left;
  margin: 0px 50px 20px 0px;
  height: 100%;
  padding: 40px;
  width: 20%;
  box-shadow: 0 8px 24px -12px rgb(2 23 44 / 48%), 0 0 3px -1px rgb(2 23 44 / 20%);
}

.menu-item-selection-form {
  margin: 15%;
}

.menu-item-price {
  margin: 20px 0px;
}

.add-to-cart-button, .start-order-button {
  background-color: #ff4949;
  border: 1px solid #ff4949;
  border-radius: 2px;
  color: #fff;
  font-weight: 900;
  font-size: 14px;
  padding: 10px 20px;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  box-shadow: 0 2px 16px 0 rgb(0 0 0 / 8%), 0 32px 40px 0 rgb(0 0 0 / 20%);
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav-content {
  border-top: 1px solid #eee;
  padding: 0px 20px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.items-container {
  display: flex;
  justify-content: space-between;
}

.order-header {
  position: absolute;
  top: 0px;
  margin-bottom: 20px;
}

.empty-cart {
  padding: 100px 16px;
}